<h2><%= key_partners %></h2>
<h2><%= key_activities %></h2>
<h2><%= key_resources %></h2>
<h2><%= cost_structure %></h2>
<h2><%= value_propositions %></h2>
<h2><%= customer_relationships %></h2>
<h2><%= channels %></h2>
<h2><%= customer_segments %></h2>
<h2><%= revenue_streams %></h2>